.cast-name {
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-decoration: none; /* Quita el subrayado por defecto */
}

.cast-name:hover {
    text-decoration: underline; /* Subraya ligeramente al pasar el cursor para indicar que es clickeable */
    color: #ffffff;
}
